body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	font-size:15px;
	font-weight: bold;
	color: Black;
	cursor: pointer;
}

li a{
	color:white;
}

li a:hover{
	background-color: #214183;
}

/*nav{
	background-color: #274e9c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px;
}*/

nav ul li{
    display: inline;
    list-style-type: none;
    font-size: 13px;
    color: #274e9c;
    margin: 0 40px;
    
}
nav ul{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px;
	background-color: #274e9c
}

#centerdiv {
    margin: 0%;
    width: 100%;
    padding: 10px;
}

#imgdiv {
	text-align:center;
	display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}



.hide-me{
	display:none;
	visibility: hidden;
}

img.resize {
	width:200px;
	height:200px;
	padding:20px;
}

p.postTitle {
	font-style: italic;
	padding-left:10px;
	padding-right:10px;
}

p.postBody {
	padding:20px;
}

.post {
    width: 50%;
    background-color: powderblue;
	margin:0 auto;
	
}

.users{
	height:30px;
	width:190px;
    background-color: powderblue;
	vertical-align:middle;
	text-align:center;
	padding-bottom: 20px;
	margin:0 auto;
	border-size:2px;
	border-style:solid;
	border-color:black;
}

#clickable {
	cursor: pointer;
}
#clickable:hover {
	text-decoration: underline;
}

#postButton,#photoButton,#albumButton {
	background-color: #357AE8;
	width: 40%;
	margin:0 auto;	
	border-radius: 10px;
	cursor: pointer;
}

#postButton p,#photoButton p, #albumButton p{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color:white;
	padding:40px;
	
}
#postButton:hover, #photoButton:hover,#albumButton:hover{
	background-color: #357FFF;
}

div header{
	display: flex;
	padding: 10px;
	overflow: auto;
	background-color: silver;

}

header.photoheader{
	display: flex;
	padding: 10px;
	overflow: auto;
	background-color: silver;
	padding: 15px;
	border-radius: 20px;
	text-align: center;    
}
.phototext2{
	text-align: center;
}

.album {
	height:200px;
	width: 200px;
	display: flex;
	background-color: white;
	display: inline-block;
	padding:20px;
	padding-top: 50px;
	padding-bottom:100px;
	vertical-align:top;
	
}
img.albumTN{
	width:50px;
	height:50px;
}

#profileInfo {
	padding-left: 100px;
	height: 500px;
	width: 300px;
	padding-right:30px;
	
}
.phototext{
	position: relative; 
	display: flex;
	
}

.content-wrapper {	
	height: 200px;
    width: 200px;
    display: flex;
    background-color: white;
    display: inline-block;
    padding: 20px;
    padding-top: 50px;
    text-align: center;

}

.content-wrapperphoto {
	display: inline-block;
	background-color: white;
	text-align: center;

}

#googleMap{
	left:100px;
	height:400px;
	width:400px;
}

#wrap {
	display:flex;
}

#albumdiv{
	height: 380px;
	width: 1000px;
	overflow-x: auto;
}

#innerdiv{
}

#profilePosts{
	height: 380px;
	width: 1000px;
	overflow: auto;
}

#shawarma{
	display: inline-block;
	padding:20px;
	padding-top: 80px;
}

#albumprofilebutton {
	background-color: #357AE8;
	width: 160px;
	height: 160px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
}

#albumprofilebutton p{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color:white;
	padding:40px;
	
}
#albumprofilebutton:hover{
	background-color: #357FFF;
}

